<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Stok</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content scrollX="true">

  <ion-searchbar placeholder="Search product" animated="true" (ionChange)="onSearchTerm($event)"></ion-searchbar>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddProduct()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Nama Produk</th>
        <th>Kod Produk</th>
        <th>Harga</th>
        <th>Stok</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let pro of products">
        <td>
            <ion-button size="small" (click)="verifyAlert(customer.order_id)">
                <ion-icon name="checkbox-outline"></ion-icon>
        </ion-button>
            <ion-button size="small" color="danger"
            (click)="deleteOrder(pro.prodID)">
            <ion-icon name="trash"></ion-icon>
    </ion-button>
        </td>

        <td>
            <ion-text>{{pro.prodName}}</ion-text><br>
           
        </td>
        <td>
            <ion-text>{{pro.prodCode}}</ion-text>
        </td>
        <td>
            <ion-text>{{pro.prodPrice}}</ion-text>
        </td>
        <td>
            <ion-text>{{pro.stock}}</ion-text>
        </td>
    </tbody>
  </table>
</ion-content>