<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tempahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- easy add ( in construction ) -->
  <!-- <ion-row>
    <ion-col>
      <ion-item>
        <ion-button color="danger" slot="end">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row> -->

  <!-- new order card -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Tempahan Baru
      </ion-card-title>
      <ion-card-subtitle>
        Sila masukkan semua maklumat pelanggan di bawah
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <form [formGroup]="myForm">
          <ion-item-divider>
            <ion-label color="tertiary">
              Maklumat Pelanggan
            </ion-label>
          </ion-item-divider>
          <ion-row>
            <ion-item>
              <ion-label position="floating">Nama Pelanggan</ion-label>
              <ion-input formControlName="nama_pelanggan" type="text"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="floating">Emel Pelanggan</ion-label>
              <ion-input formControlName="emel" type="email"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-col>
              <international-phone-number formControlName="nombor_hp" [maxlength]="15" [defaultCountry]="'my'"
                [required]="true" [allowedCountries]="['my', 'sg']"></international-phone-number>
            </ion-col>
          </ion-row>
          <ion-row>

          </ion-row>
          <ion-item-divider>
            <ion-label color="tertiary">
              Alamat
            </ion-label>
          </ion-item-divider>
          <ion-row>
            <ion-item>
              <ion-textarea formControlName="alamat_pelanggan" type="text" placeholder="-"></ion-textarea>
            </ion-item>

          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" formControlName="poskod" placeholder="Poskod"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName="bandar" type="text" placeholder="Bandar"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input formControlName="negeri" type="text" placeholder="Negeri"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>

              <ion-select type="text" formControlName="negara" placeholder="Negara">
                <ion-select-option value="MALAYSIA">MALAYSIA</ion-select-option>
                <ion-select-option value="SINGAPORE">SINGAPORE</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>




          <ion-item-divider>
            <ion-label color="tertiary">
              Maklumat Pembayaran
            </ion-label>
          </ion-item-divider>

          <ion-row>
            <ion-item>
              <ion-label position="floating">Nama Pemegang Akaun</ion-label>
              <ion-input formControlName="namaakaun" type="text"></ion-input>
            </ion-item>
          </ion-row>
          <ion-row>

            <ion-item>
              <ion-label position="floating">Bank</ion-label>
              <ion-select type="text" formControlName="akaun">
                <ion-select-option value="MAYBANK">MAYBANK</ion-select-option>
                <ion-select-option value="CIMB">CIMB</ion-select-option>
                <ion-select-option value="BSN">BSN</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row>
            <ion-item>
              <ion-label position="floating">Bayaran (RM)</ion-label>
              <ion-input type="number" formControlName="jumlah_bayaran"></ion-input>
            </ion-item>
          </ion-row>

          <ion-row>
            <ion-item>
              <ion-textarea type="text" formControlName="nota_tambahan"
                placeholder="Maklumat tambahan di sini/free gift/item tambahan">
              </ion-textarea>
            </ion-item>
          </ion-row>




        </form>
        <ion-row>

        </ion-row>
      </ion-grid>
    </ion-card-content>


  </ion-card>

  <ion-card>
    <ion-item-divider>
      <ion-label color="tertiary">
        Maklumat Produk
      </ion-label>
    </ion-item-divider>

    <ion-row *ngFor="let att of anArray; let idx = index">
      <ion-col>
        <ion-item>
          <ion-label type="floating"> Produk </ion-label>
          <ion-select type="text" [(ngModel)]="anArray[idx].value">
            <ion-select-option *ngFor="let prod of products">{{ prod.prodName }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label type="floating"> Bil </ion-label>

          <ion-input type="number" [(ngModel)]="anArray[idx].total"></ion-input>
          <button ion-button (click)="onDelete(att.idx)" slot="end">
            <ion-icon name="close"></ion-icon>
          </button>

        </ion-item>
      </ion-col>



    </ion-row>



    <ion-button (click)="Add()" fill="clear">
      <ion-icon name="add" large></ion-icon>
    </ion-button>


  </ion-card>


<ion-card>
    <div>
        <ion-item>
          <ion-label> Resit </ion-label>
          <ion-button (click)="openGallery()">
            <ion-icon name="images"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item *ngIf="base64Image">
          <img src="{{base64Image}}" title="pict" width="300px" height="300px">
        </ion-item>
    
      </div>
</ion-card>
  

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" shape="round" (click)="submit()">
      Buat Tempahan
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </div>







</ion-content>