<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tempahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- easy add ( in construction ) -->
  <!-- <ion-row>
    <ion-col>
      <ion-item>
        <ion-button color="danger" slot="end">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row> -->

  <!-- new order card -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Tempahan Baru
      </ion-card-title>
      <ion-card-subtitle>
        Sila masukkan semua maklumat pelanggan di bawah
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="myForm">
        <ion-item>
           <ion-label position="floating">Nama Pelanggan</ion-label>
          <ion-input formControlName="nama_pelanggan" type="text"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label position="floating">Alamat Pelanggan</ion-label>
          <ion-input formControlName="alamat_pelanggan" type="text"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label position="floating">No. Telefon</ion-label>
          <ion-input formControlName="nombor_hp" type="number"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label position="floating">Bank</ion-label>
           <ion-select type="text" formControlName="akaun">
             <ion-select-option value="Maybank">Maybank</ion-select-option>
             <ion-select-option value="CIMB">CIMB</ion-select-option>
           </ion-select>
         </ion-item>
         <ion-item> 
             <ion-label position="floating" >Produk</ion-label>
             <ion-select type="text" formControlName="produk" interface="action-sheet" > 
               <ion-select-option  *ngFor="let prod of products" [value]="prod.prodName">{{ prod.prodName }}</ion-select-option>
            
             </ion-select>
            
           </ion-item>
           <ion-item>
               <ion-label position="floating">Jumlah Produk</ion-label>
               <ion-input type="number" formControlName="jumProduk"></ion-input>
           </ion-item>
           <ion-item>
               <ion-label position="floating">Bayaran (RM)</ion-label>
               <ion-input type="number" formControlName="jumlah_bayaran"></ion-input>
             </ion-item>
             <ion-item>
                 <ion-textarea type="text" formControlName="nota_tambahan" placeholder="Maklumat tambahan di sini/free gift/item tambahan">
                 </ion-textarea>
               </ion-item>
              
      </form>
      <div>
        <ion-item>
          <ion-label> Resit </ion-label>
             <ion-button (click)="openGallery()" ><ion-icon name="images"></ion-icon></ion-button>
        </ion-item>
        <ion-item *ngIf="base64Image">
          <img src="{{base64Image}}" title="pict">
        </ion-item>
    
      </div>
    
      <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" shape="round" (click)="submit()">
            Buat Tempahan
            <ion-ripple-effect></ion-ripple-effect>
          </ion-button>
        </div>
    
     
    </ion-card-content>

    
  </ion-card>

 
  
   
  

</ion-content>