<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Tempahan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- easy add ( in construction ) -->
  <!-- <ion-row>
    <ion-col>
      <ion-item>
        <ion-button color="danger" slot="end">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row> -->

  <!-- new order card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Tempahan Baru
      </ion-card-title>
      <ion-card-subtitle>
        Sila masukkan semua maklumat pelanggan di bawah
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <!-- order form -->
     
        <ion-item>
          <ion-label position="floating">Nama Pelanggan</ion-label>
          <ion-input type="text" [(ngModel)]="nama_pelanggan"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Alamat Pelanggan</ion-label>
          <ion-input type="text" [(ngModel)]="alamat_pelanggan"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombor Telefon</ion-label>
          <ion-input type="number" [(ngModel)]="nombor_hp"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Akaun Bank</ion-label>
          <ion-select placeholder="Pilih bank" type="text" [(ngModel)]="akaun">
            <ion-select-option value="Maybank">Maybank</ion-select-option>
            <ion-select-option value="CIMB">CIMB</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item> 
          <ion-label position="floating" >Produk</ion-label>
          <ion-select placeholder="Pilih produk"[(ngModel)]="produk"> 
            <ion-select-option *ngFor="let prod of products" [value]="prod.prodName">{{ prod.prodName }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Jumlah Produk</ion-label>
            <ion-input type="number" [(ngModel)]="jumProduk"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bayaran (RM)</ion-label>
          <ion-input type="number" [(ngModel)]="jumlah_bayaran"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea type="text" [(ngModel)]="nota_tambahan" placeholder="Maklumat tambahan di sini...">
          </ion-textarea>
        </ion-item>
    

      <ion-item>
        <ion-label>
         Resit
        </ion-label>
        
          <ion-button icon="cloud-upload" (click)="presentActionSheet()">ADD</ion-button>

      </ion-item>




    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="base64Image">
      <img src="{{base64Image}}" title="pict">
    </ion-item>


  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" shape="round" (click)="createdProcess()">
      Buat Tempahan
      <ion-ripple-effect></ion-ripple-effect>
    </ion-button>
  </div>

</ion-content>