<ion-header>
  <ion-toolbar>
      <ion-menu-button slot="start" disabled="true" swipe-gesture=false></ion-menu-button>
    <ion-title>Log Masuk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-slides [options]="slider1">
  <ion-slide>
      <ion-card>
          <ion-card-title>Administrator</ion-card-title>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nama</ion-label>
                    <ion-input type="text" [(ngModel)]="user.username"></ion-input>
                  </ion-item>
            
                  <ion-item>
                    <ion-label position="floating">Kata Laluan</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
                  </ion-item>
            
            
            
                  <ion-button expand="block" padding color="primary" (click)="processLoginAdmin()">Log Masuk</ion-button>
                
            </ion-card-content>
          
      </ion-card>
  </ion-slide>
  
  <ion-slide>
      <ion-card>
          <ion-card-title>Account & Production</ion-card-title>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nama</ion-label>
                    <ion-input type="text" [(ngModel)]="accprod_username"></ion-input>
                  </ion-item>
            
                  <ion-item>
                    <ion-label position="floating">Kata Laluan</ion-label>
                    <ion-input type="password" [(ngModel)]="accprod_password"></ion-input>
                  </ion-item>
            
            
            
                  <ion-button expand="block" padding color="primary" (click)="processLoginAccProd()">Log Masuk</ion-button>
                
            </ion-card-content>
          
      </ion-card>
  </ion-slide>

  <ion-slide>
      <ion-card>
          <ion-card-title>Team Sales</ion-card-title>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nama</ion-label>
                    <ion-input type="text" [(ngModel)]="sales_username"></ion-input>
                  </ion-item>
            
                  <ion-item>
                    <ion-label position="floating">Kata Laluan</ion-label>
                    <ion-input type="password" [(ngModel)]="sales_password"></ion-input>
                  </ion-item>
            
            
            
                  <ion-button expand="block" padding color="primary" (click)="processLoginSales()">Log Masuk</ion-button>
                
            </ion-card-content>
          
      </ion-card>
  </ion-slide>
</ion-slides>
  
</ion-content>