<ion-header>
    <ion-toolbar>
      <ion-title>Add Page</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
<ion-item>
    <ion-label position="floating">Nama Produk</ion-label>
    <ion-input type="text" [(ngModel)]="prodName"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">Kod Produk</ion-label>
    <ion-input type="text" [(ngModel)]="prodCode"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">Harga Produk</ion-label>
    <ion-input type="text" [(ngModel)]="prodPrice"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">Stok Produk</ion-label>
    <ion-input type="text" [(ngModel)]="prodStock"></ion-input>
</ion-item>
</ion-content>
