<ion-content>


	<div id="invoice-POS">

		<div id="top">
			<div class="logo">

			</div>
			<div class="info">
				<h2>Receipt {{order_id}}</h2>
				<h2>TRS</h2>
				<h2> NO.15 1 ST FLOOR, JALAN SERI PUTRA 1/4,BANDAR SERI PUTRA, 43000 KAJANG</h2>
			</div>
			<!--End Info-->
		</div>
		<!--End InvoiceTop-->

		<div id="mid">
			<div class="info">
				<h2>Info Pelanggan</h2>
				<p>
					Staff : {{sales}}<br>
					Nama Pelanggan : {{nama}}<br>
					Alamat : {{alamat}},{{poskod}},{{bandar}},{{negeri}},{{negara}}<br>
					Nombor Telefon : {{hp}}<br>
				</p>
			</div>
		</div>
		<!--End Invoice Mid-->

		<div id="bot">

			<div id="table">
				<table>
					<tr class="tabletitle">
						<td class="item">
							<h2>Item</h2>
						</td>
						<td class="Hours">
							<h2>Qty</h2>
						</td>
						<td class="Rate">
							
						</td>
					</tr>
					<ion-row *ngFor="let att of anArray; let idx = index">
					<tr class="service">
						<td class="tableitem">
							<p class="itemtext">{{produk}}</p>
						</td>
						<td class="tableitem">
							<p class="itemtext">{{jumProduk}}</p>
						</td>
						<td class="tableitem">
							
						</td>
					</tr>
					</ion-row>

					<tr class="tabletitle">
						<td></td>
						<td class="Rate">
							<h2>Total</h2>
						</td>
						<td class="payment">
							<h2>{{bayaran}}</h2>
						</td>
					</tr>

				</table>
			</div>
			<!--End Table-->

			<div id="legalcopy">
				<p class="legal"><strong>This is computer generated receipt, no signature required.</strong>
				</p>
			</div>

		</div>
		<!--End InvoiceBot-->
	</div>
	<!--End Invoice-->

</ion-content>