<ion-app>
    <ion-menu type="reveal">
      <ion-header>
        <ion-toolbar>
          <ion-title>TRS Holdings</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
          <div #header>
              <ion-row style="align-items:center;">
                <ion-col col-3>
                </ion-col>
                <ion-col col-6>
                  <img class="user-avatar round" [src]="'assets/img/avatar/avatar-placeholder.png'"/>
                </ion-col>
                <ion-col col-3>
                </ion-col>
              </ion-row>
              <ion-row style="justify-content: center;">
                <h3>{{username}}</h3>
              </ion-row>
            </div>
        <ion-list>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of appHome">
                <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                  <ion-icon slot="start" [name]="p.icon"></ion-icon>
                  <ion-label>
                    {{p.title}}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>

          <ion-item *ngIf="ordlabel">
              <ion-label color="medium">Order</ion-label>
          </ion-item>
         
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appSales">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item *ngIf="acclabel">
              <ion-label  color="medium">Accounting</ion-label>
          </ion-item>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appAccount">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item *ngIf="prodlabel">
              <ion-label color="medium">Production</ion-label>
          </ion-item>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appProduction">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item *ngIf="perflabel">
              <ion-label color="medium">Performance</ion-label>
          </ion-item>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPerform">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item *ngIf="admlabel">
              <ion-label color="medium">Administration</ion-label>
          </ion-item>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appAdmin">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>  
</ion-app>
