// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.// Sidemenu with avatar
#menu-avatar {
    .icon-badge {
      top: 0px;
      right: 0px;
      background: #FF5D5D;
      color: white;
      font-size: 12px;
      position: absolute;
      padding: 5px 8px;
      border-radius: 15px;
    }
    
    .user-avatar {
      padding: .5em;
    }
    h3,
    .label {
      color: white;
      font-weight: bold;
    }
    .item {
      background: transparent;
    }
    ion-content {
      background: linear-gradient(48deg, rgba(157, 72, 173, 0.8) 0%, rgba(157, 72, 173, 0.86) 28%, rgba(0, 168, 168, 0.98) 93%, rgba(0, 168, 168, 1) 100%);
    }
    .menu-inner {
      background: rgba(255, 255, 255, .3);
    }
  }
  
  // Material Design Sidemenu
  #menu-material {
    .menu-header {
      padding: 5px 15px;
      background-size: cover;
      color: white;
      .name {
        font-weight: 500;
        margin-bottom: 3px;
      }
      .e-mail {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .user-avatar {
      padding: .5em;
      height: 12vh;
    }
    
  }