<ion-header>
  <ion-toolbar color="primary">
    <ion-title ion-text-centre>Maklumat {{nama_pelanggan}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

<table>
    <thead>
        <tr>
            <th> Maklumat </th>
            <th> Status </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                    <td>Order ID</td>
                    <td>{{order_id}}</td>
                </tr>
        <tr>
            <td>Pengesahan</td>
            <td>{{pengesahan}}</td>
        </tr>
        <tr>
                <td>Nama Pelanggan</td>
                <td>{{nama_pelanggan}}</td>
            </tr>
            <tr>
                   
                </tr>
                <tr>
                        <td>Tarikh Order</td>
                        <td>{{tarikh_order}}</td>
                    </tr>
                    <tr>
                            <td>Alamat Pelanggan</td>
                            <td>{{alamat_pelanggan}}</td>
                        </tr>
                        <tr>
                                <td> No. Hp</td>
                                <td>0{{nombor_hp}} 
                                    <a ion-button href="https://wa.me/+60{{nombor_hp}}"><ion-icon name="logo-whatsapp"></ion-icon></a>
                                    <a ion-button href="tel:+60{{nombor_hp}}"><ion-icon name="call"></ion-icon></a>
                                </td>
                                
                            </tr>
                            <tr>
                                    <td>Akaun</td>
                                    <td>{{akaun}}</td>
                                </tr>
                                <tr>
                                        <td>Produk</td>
                                        <td>{{produk}}</td>
                                    </tr>
                                    <tr>
                                            <td>Jumlah Produk</td>
                                            <td>{{jumProduk}}</td>
                                        </tr>
                                        <tr>
                                                <td>Jumlah Bayaran</td>
                                                <td>RM {{jumlah_bayaran}}</td>
                                            </tr>
                                            <tr>
                                                    <td>Nota Tambahan</td>
                                                    <td>{{nota_tambahan}}</td>
                                                </tr>

    </tbody>
</table>



<img src="{{base64image}}" width= "700px" height="700px">

   
</ion-content>
