ion-card {
  display: block;
  flex-direction: column;
  width: 30% !important;
  height: 10% !important;
  margin-left: auto !important;
  margin-right: auto !important;

}

.my-select {
  width: 100% !important;
}

.count-card {
  background: rgb(167, 88, 23);
  color: white;
  width: 40px !important;
  height: 20px !important;
  font-size: 10pt;
  text-align: center;
}

input{
  width: 105px;
}

ion-searchbar{
  width: 80% !important;
}