<ion-header>
        <ion-toolbar>
                <ion-menu-button slot="start"></ion-menu-button>
                <ion-title>Production</ion-title>
        </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh"
                        refreshingSpinner="circles" refreshingText="Refreshing...">
                </ion-refresher-content>
        </ion-refresher>
        <ion-grid>
                <ion-row>

                        <ion-card color='primary'>
                                <ion-card-subtitle>
                                        <div class="ion-text-center">
                                                Belum Selesai
                                        </div>
                                        <br>
                                        <div class="ion-text-center" *ngFor="let ver of unverifiedprod">
                                                {{ver.sum}}
                                        </div>
                                </ion-card-subtitle>
                        </ion-card>

                        <ion-card color='primary'>
                                <ion-card-subtitle>
                                        <div class="ion-text-center">
                                                RM
                                        </div>
                                        <br>
                                        <div class="ion-text-center" *ngFor="let ss of sums">
                                                {{ss.sum}}
                                        </div>
                                </ion-card-subtitle>
                        </ion-card>




                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-button (click)="totalProductModal()" fill="solid" tooltip="Jumlah Produk" placement="left"><ion-icon name="list-box"></ion-icon></ion-button>
                                <ion-button (click)="openCalendar()" fill="solid" tooltip="Search by date" placement="bottom">
                                        <ion-icon name="calendar"></ion-icon>
                                </ion-button>
                                <ion-button  fill="solid" color="success" tooltip="Upload CSV" placement="top">
                                        <label for="file-input">
                                                CSV <ion-icon name="arrow-round-up">
                                                        <input id="file-input" type="file" accept=".csv" name="files" class="form-control" #uploads
                                                        (change)="onChange(uploads.files)" value="process" style="visibility: hidden; position: absolute;" />
                                                </ion-icon>
                                               </label>
                                </ion-button>
                                <ion-button (click)="downloadCSV()" fill="solid" color="tertiary" tooltip="Download CSV" placement="bottom">CSV
                                        <ion-icon name="arrow-round-down"></ion-icon>
                                </ion-button>
                                <ion-button (click)="submitProcedure()" fill="solid" tooltip="Submit" placement="top">
                                        <ion-icon name="cloud-upload"></ion-icon>
                                </ion-button>
                                <ion-button (click)="clearArrayCust()" fill="solid" color="danger">
                                        <ion-icon name="close"></ion-icon>
                                </ion-button>
                                <ion-button fill="clear" color="danger" [tooltip]="prodText" placement="right">
                                        <ion-icon name="alert"></ion-icon>
                                </ion-button>
                               
                              

                              
                        </ion-col>
                </ion-row>


                <ion-row>
                        <ion-searchbar showCancelButton="always" (ionChange)="updateFilter($event)" placeholder="search by company"></ion-searchbar>
                        <ion-button fill="clear">
                                <ion-select color="primary" type="text" [(ngModel)]="status" (ionChange)="updateStatus(status)" interface="popover">
                                         <ion-select-option disabled value="status">Status</ion-select-option>
                                        <ion-select-option value="pending">Pending</ion-select-option>
                                        <ion-select-option value="sah">Sah</ion-select-option>
                                        <ion-select-option value="shipping">Shipping</ion-select-option>
                                        <ion-select-option value="cod">COD</ion-select-option>
                                        <ion-select-option value="all">All</ion-select-option>
                         </ion-select>
                        </ion-button>
</ion-row>
        </ion-grid>



        <ngx-datatable class="fullscreen" [ngClass]="tableStyle" [rows]="customers" [columnMode]="'force'"
                [sortType]="'single'" [reorderable]="false" [scrollbarH]="false" [rowHeight]="'auto'"
                [headerHeight]="100" [footerHeight]="50" [limit]="10"  
                [selected]="selected"
                [selectionType]="SelectionType.checkbox"
                [selectAllRowsOnPage]="false"
                (activate)="onActivate($event)"
                (select)="onSelect($event)">
                <ngx-datatable-column
                [width]="50"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true"
              >
              </ngx-datatable-column>
                <ngx-datatable-column width="100" name="Tarikh Order" prop="tarikh_order"></ngx-datatable-column>
                <ngx-datatable-column width="100" name="Nama" prop="nama_pelanggan"></ngx-datatable-column>
                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                                Alamat
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.alamat_pelanggan}},
                                {{row.poskod}}
                                {{row.bandar}},
                                {{row.negeri}},
                                {{row.negara}},

                        </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                                H/P
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.nombor_hp}} <br>
                                <a ion-button target="_blank" href="https://wa.me/{{row.nombor_hp}}">
                                        <ion-icon name="logo-whatsapp" style="zoom:1.5;" color="success"></ion-icon>
                                </a>
                                <a ion-button href="tel:{{row.nombor_hp}}">
                                        <ion-icon name="call" style="zoom:1.5;"></ion-icon>
                                </a>

                        </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                                Akaun
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.namaakaun}} <br>
                                {{row.akaun}} <br>
                                {{row.masaakaun}} <br>
                        </ng-template>

                </ngx-datatable-column>
                <ngx-datatable-column width="100" name="Produk" prop="produk"></ngx-datatable-column>
                <ngx-datatable-column width="100" name="Jumlah Produk" prop="jumProduk"></ngx-datatable-column>
                <ngx-datatable-column width="100" name="Jumlah Bayaran" prop="jumlah_bayaran"></ngx-datatable-column>
                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                                Sales
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                                {{row.nickname}} <br>
                                {{row.sales}} <br>
                                {{row.sales_hp}} <br>
                                <a ion-button target="_blank" href="https://wa.me/{{row.sales_hp}}">
                                        <ion-icon name="logo-whatsapp" style="zoom:1.5;" color="success"></ion-icon>
                                </a>
                                <a ion-button href="tel:{{row.sales_hp}}">
                                        <ion-icon name="call" style="zoom:1.5;"></ion-icon>
                                </a>
                        </ng-template>

                </ngx-datatable-column>
                <ngx-datatable-column width="100" name="Team" prop="company"></ngx-datatable-column>
                <ngx-datatable-column width="100" name="Status" prop="pengesahan"></ngx-datatable-column>
                <ngx-datatable-column width="100" name="Nota" prop="nota_tambahan"></ngx-datatable-column>

                <ngx-datatable-column width="100" name="Penghantaran" prop="penghantaran"></ngx-datatable-column>
                <ngx-datatable-column width="100" name="Tracking" prop="tracking"></ngx-datatable-column>
        </ngx-datatable>
</ion-content>