<ion-header>
        <ion-toolbar>
                <ion-menu-button slot="start"></ion-menu-button>
                <ion-title>Production</ion-title>
        </ion-toolbar>
</ion-header>

<ion-content scrollX="true">
        <ion-searchbar placeholder="Search by company" animated="true" (ionChange)="onSearchTerm($event)">
        </ion-searchbar>
        <ion-button (click)="openCalendar()">
                <ion-icon name="calendar"></ion-icon> Search by Date
        </ion-button>
        <ion-button (click)="clearArrayCust()">
                <ion-icon name="close"></ion-icon>Clear
        </ion-button>

        

    <ion-grid>
            <ion-row>
                    <ion-col>
                        <ion-card color="primary">
                                <ion-card-subtitle>
                                        <div class="ion-text-center">
                                                Total pending
                                        </div>
                                        <br />
                                        <div class="ion-text-center" *ngFor="let ver of unverifiedprod">
                                                {{ver.sum}}
                
                                        </div>
                                </ion-card-subtitle>
                        </ion-card>
                    </ion-col>
                    <ion-col>
                        <ion-card color="primary">
                                <ion-card-subtitle>
                                        <div class="ion-text-center">
                                                Jumlah
                                        </div>
                                        <br />
                                        <div class="ion-text-center" *ngFor="let ss of sums">
                                                RM {{ss.sum}}
                
                                        </div>
                                </ion-card-subtitle>
                        </ion-card>
                        
                    </ion-col>
            </ion-row>
    </ion-grid>
       
        

        <ion-item>
                <ion-button (click)="totalProductModal()">Jumlah Produk</ion-button>
        </ion-item>
        <div style="overflow-x:auto;">
        <table>
                <thead>
                        <tr>
                                <th></th>
                                <th>Tarikh</th>
                                <th>Pelanggan</th>
                                <th>Alamat</th>
                                <th>Jumlah Bayaran</th>
                                <th>Produk</th>
                                <th>Person Incharge</th>
                                <th>Nota</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let customer of customers">
                                <td>
                                        <ion-button size="small" color="warning" (click)="
              updateOrder(
                customer.order_id,
                customer.nama_pelanggan,
                customer.tarikh_order,
                customer.alamat_pelanggan,
                customer.nombor_hp,
                customer.akaun,
                customer.produk,
                customer.penghantaran,
                customer.jumlah_bayaran,
                customer.nota_tambahan
              )
            ">
                                                <ion-icon name="create"></ion-icon>
                                        </ion-button>
                                        <ion-button size="small"
                                                (click)="openTrackModal(customer.order_id, customer.pengesahan)">
                                                <ion-icon name="keypad"></ion-icon>
                                        </ion-button>
                                        <ion-button size="small" (click)="openDeliveryModal(customer.order_id)">
                                                <ion-icon name="airplane"></ion-icon>
                                        </ion-button>
                                        <ion-button size="small" color="danger"
                                                (click)="deleteOrder(customer.order_id, customer.pengesahan)">
                                                <ion-icon name="trash"></ion-icon>
                                        </ion-button>
                                </td>
                                <td>
                                        <ion-text color="success">{{ customer.pengesahan }}</ion-text><br />
                                        <ion-text>{{ customer.tarikh_order }}</ion-text>
                                </td>
                                <td>
                                        <ion-icon name="person"></ion-icon>
                                        {{customer.nama_pelanggan}}<br>
                                        <ion-icon name="call"></ion-icon>
                                        0{{customer.nombor_hp}}<br>
                                </td>
                                <td>
                                        <ion-icon name="home"></ion-icon>
                                        <ion-text>{{ customer.alamat_pelanggan }}</ion-text>
                                </td>
                                <td>
                                        <ion-text>RM {{ customer.jumlah_bayaran }}</ion-text>
                                </td>
                                <td>
                                        <p style="font-weight: bold">{{ customer.produk }} - {{ customer.jumProduk }}
                                        </p>

                                </td>
                                <td>
                                        <ion-text>{{ customer.sales }}</ion-text>
                                </td>
                                <td>
                                        <ion-text>{{ customer.nota_tambahan }}</ion-text>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>
</ion-content>