<ion-header>
    <ion-toolbar>
        
            <ion-menu-button  slot="start"></ion-menu-button>
  
      <ion-title>Senarai Pekerja</ion-title>
      <ion-icon slot="end" name="contrast" (click)="switchStyle()"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- <ion-searchbar placeholder="Search by name" animated="true" (ionChange)="onSearchTerm($event)"></ion-searchbar> -->
    
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="goList()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <!-- <div style="overflow-x:auto;">
        <table>
            <thead>
              <tr>
                <th>Nama Penuh</th>
                <th>Nama Panggilan</th>
                <th>Username</th>
                <th>No Telefon</th>
                <th>Emel</th>
                <th>Peranan</th>
                <th>Syarikat</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let em of employees">
                <td>
                  <ion-text>{{ em.fullname}}</ion-text>
                </td>
                <td>
                  <ion-text>{{em.nickname}}</ion-text>
                </td>
                <td>
                  <ion-text>{{em.username}}</ion-text>
                </td>
                <td>
                  <ion-text>{{em.userhp}}</ion-text>
                </td>
                <td>
                  <ion-text>{{em.userEmail}}</ion-text>
                </td>
                <td>
                  <ion-text>{{em.role}}</ion-text>
                </td>
                <td>
                  <ion-text>{{em.company}}</ion-text>
                </td>
          </table>
        </div> -->
        

        <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)"
      />
      
        
     
        <ngx-datatable #table [ngClass]="tableStyle" [rows]="employees" [columns]="tableColumns" 
        [scrollbarH]="true"  columnMode="force"
        [headerHeight]="50"
        [footerHeight]="0"
        [rowHeight]="'auto'"></ngx-datatable>
  </ion-content>