<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-row *ngFor="let att of base64image; let idx = index">
        <ion-col>
          <ion-item>
                <img [src]="sanitize(base64image[idx])" width= "700px" height="700px">
            </ion-item>
        </ion-col>
      </ion-row>

</ion-content>
