<ion-header>
    <ion-toolbar>
      <ion-title>Jumlah Produk</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>Produk</th>
        <th>Jumlah</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ch of counted">
        <td>{{ch.produk}}</td>
        <td>{{ch.total}}</td>
      </tr>
    </tbody>
  </table>
      </div>
  </ion-content>
  