<ion-header>
  <ion-toolbar>
      <ion-back-button slot="start"></ion-back-button>
    <ion-title>Pendaftaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

        <ion-grid>
          <ion-row>
              
          </ion-row>
          <ion-row>
              <ion-card>
                  <ion-card-content>
                      <ion-card-title>Staff</ion-card-title>
                 
                      <ion-item>
                        <ion-label position="floating">Nama Penuh</ion-label>
                        <ion-input type="text" [(ngModel)]="fullname"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Nama Panggilan</ion-label>
                          <ion-input type="text" [(ngModel)]="nickname"></ion-input>
                        </ion-item>
              
                        <ion-item>
                            <ion-label position="floating">Username</ion-label>
                            <ion-input type="text" [(ngModel)]="username"></ion-input>
                          </ion-item>
                  
              
                      <ion-item>
                        <ion-label position="floating">Kata Laluan</ion-label>
                        <ion-input type="password" [(ngModel)]="password"></ion-input>
                      </ion-item>
              
                      <ion-item>
                        <ion-label position="floating">Sahkan Kata Laluan</ion-label>
                        <ion-input type="password" [(ngModel)]="confirm_password"></ion-input>
                      </ion-item>
              
                      <ion-item>
                          <ion-label position="floating">Nombor Telefon</ion-label>
                          <ion-input type="text" [(ngModel)]="userhp"></ion-input>
                        </ion-item>
                
                        <ion-item>
                            <ion-label position="floating">Emel</ion-label>
                            <ion-input type="text" [(ngModel)]="userEmail"></ion-input>
                          </ion-item>
                  
                      <ion-item>
                        <ion-label position="floating">Peranan</ion-label>
                        <ion-select placeholder="Role" type="text" [(ngModel)]="role">
                          <ion-select-option value="BOD">BOD</ion-select-option>
                          <ion-select-option value="CEO">CEO</ion-select-option>
                          <ion-select-option value="SALES">SALES</ion-select-option>
                          <ion-select-option value="ACCOUNT">ACCOUNT</ion-select-option>
                          <ion-select-option value="PRODUCTION">PRODUCTION</ion-select-option>
                        </ion-select>
                      </ion-item>
                 
              
                    <ion-item>
                      <ion-label position="floating">Syarikat</ion-label>
                      <ion-select placeholder="company" type="text" [(ngModel)]="company">
                          <ion-select-option *ngFor="let td of companies" [value]="td.compName">{{ td.compName }}</ion-select-option>
              
                      </ion-select>
                    </ion-item>
              
                    <div>
                      <ion-button expand="block" padding color="tertiary" (click)="processRegisterEmployee()">Daftar</ion-button>
                    </div>
                  </ion-card-content>
                </ion-card>
          </ion-row>
        </ion-grid>
  
</ion-content>