<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Rekod Tempahan</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <!-- <ion-searchbar showCancelButton="always"> </ion-searchbar>-->

  
    

<ion-searchbar showCancelButton="always" (ionChange)="updateFilter($event)" placeholder="Name || order id"></ion-searchbar>

     <ngx-datatable [ngClass]="tableStyle" [rows]="customers" [columnMode]="'force'"
     [sortType]="'single'" [reorderable]="false"  [rowHeight]="'auto'" [headerHeight]="100"
     [footerHeight]="'auto'" [limit]="15">
     <ngx-datatable-column name= "ID" prop="order_id"></ngx-datatable-column>
     <ngx-datatable-column name="Nama" prop="nama_pelanggan"></ngx-datatable-column>
     <ngx-datatable-column name="Status" prop="pengesahan"></ngx-datatable-column>
    
     <ngx-datatable-column name="id" [resizeable]="false">
             <ng-template ngx-datatable-header-template>
                     
             </ng-template>
             <ng-template let-row="row" ngx-datatable-cell-template>
                     <button ion-button small color="danger" (click)="deleteAlert(row.order_id)" tooltip="Delete">
                             <ion-icon name="trash"></ion-icon>
                     </button>
                     <button ion-button small color="success" tooltip="Edit" (click)="updateCustomer(row.order_id,row.nama_pelanggan,
                       row.tarikh_order,
                       row.alamat_pelanggan,
                       row.nombor_hp,
                       row.akaun,
                       row.produk,
                       row.jumProduk,
                       row.jumlah_bayaran,
                       row.nota_tambahan)">
                             <ion-icon name="create"></ion-icon>
                     </button>
                     <button ion-button small fill color="tertiary" tooltip="Show" (click)="openModal(
                     row.order_id, 
                     row.nama_pelanggan,
                     row.tarikh_order,
                     row.alamat_pelanggan,
                     row.nombor_hp,
                     row.akaun,
                     row.produk,
                     row.jumProduk,
                     row.jumlah_bayaran,
                     row.nota_tambahan,
                     row.resit,
                     row.pengesahan)">
                             <ion-icon name="eye"></ion-icon>
                     </button>
                    
             </ng-template>
     </ngx-datatable-column>
</ngx-datatable>

</ion-content>
