<ion-header>
  <ion-toolbar color="primary">

    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
      <ion-button slot="end">
        <ion-icon name="log-out"  (click)="processLogout()" fill="solid" height="100px" width="100px"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-item>
    <ion-text color="dark">
      <h1>Hi, {{username}}</h1>
     <h3>{{team}}</h3>
    </ion-text>
  </ion-item>





  <ion-card color="primary">
    <ion-card-content *ngFor="let sumTotal of totalsum">
      
      <div class="ion-text-center">
        <h2>Total Sales</h2>
        <br>
       RM {{ sumTotal.sum}}
      </div>
    </ion-card-content>
  </ion-card> 


  <ion-card color="primary">
    <ion-card-content>
      <div class="ion-text-center">
        Total Sales - Graph
      </div>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>