<ion-header>
  <ion-toolbar color="primary">

    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
    <ion-button slot="end" (click)="processLogout()">
      <ion-icon name="log-out" fill="solid" height="100px" width="100px"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-item>
    <ion-text color="dark">
      <h1>Hi, {{username}}</h1>
      <h3>{{team}}</h3>
    </ion-text>
  </ion-item>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card color="primary">
          <ion-card-content *ngFor="let sumTotal of totalsum">
            <div class="ion-text-center">
              <h2>Total Sales</h2>
              <br>
              RM {{ sumTotal.sum}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="tertiary">
          <ion-card-content *ngFor="let today of todaysum">
            <div class="ion-text-center">
              <h2>Sales Today</h2>
              <br>
              RM {{ today.sum}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card color="warning">
          <ion-card-content *ngFor="let month of monthsum">
            <div class="ion-text-center">
              <h2>This Month</h2>
              <br>
              RM {{ month.sum}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>
      <ion-col *ngIf="showAcc">
        <ion-card color="tertiary">
          <ion-card-content *ngFor="let uv of unverifys">
            <div class="ion-text-center">
              <h2>Pending Verification</h2>
              <br>
              {{ uv.sum}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="showProd">
        <ion-card color="tertiary">
          <ion-card-content *ngFor="let up of unverifiedprod">
            <div class="ion-text-center">
              <h2>Pending</h2>
              <br>
              {{ up.sum}}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="showProd">

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides [options]="slider1" pager="true">
      <ion-slide>
          <ion-col *ngIf="showSale">
              <ion-card class="graph-card">
                <ion-card-header>
                  <ion-label>
                    Total Sale Performance
                  </ion-label>
                </ion-card-header>
                <ion-card-content>
                  <canvas #lineCanvas></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
      </ion-slide>
      <ion-slide>
          <ion-col *ngIf="showAdmin">
              <ion-card class="graph-card">
                <ion-card-header>
                  <ion-label>
                    Total Sale By Team
                  </ion-label>
                </ion-card-header>
                <ion-card-content>
      
                  <canvas #barCanvasT></canvas>
                </ion-card-content>
              </ion-card>
            </ion-col>
        
        </ion-slide>
        <ion-slide>
            <ion-col *ngIf="showAdmin">
                <ion-card class="graph-card">
                  <ion-card-header>
                    <ion-label>
                      Total Sale By Product
                    </ion-label>
                  </ion-card-header>
                  <ion-card-content>
        
                    <canvas #barCanvasP></canvas>
                  </ion-card-content>
                </ion-card>
              </ion-col>
          </ion-slide>
          <ion-slide>
              <ion-col *ngIf="showSale">
                  <ion-card class="graph-card">
                    <ion-card-header>
                      <ion-label>
                        Total Unit Sold
                      </ion-label>
                    </ion-card-header>
                    <ion-card-content>
                      <canvas #lineCanvasProductSold></canvas>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
            </ion-slide>
    </ion-slides>
    
<ion-grid>
  <ion-slides [options]="slider1">
<ion-slide>
    <ion-col *ngIf="showProd">
        <ion-card>
          <ion-card-header>
            Shipping Transaction (Total)
          </ion-card-header>
          <ion-card-content>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Unit</th>
                  <th>Customer</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sdb of shippingdashboard">
                  <td>
                    <ion-text>Total</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.jumProduk}}</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.Total}}</ion-text>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
</ion-slide>
<ion-slide>
    <ion-col *ngIf="showProd">
        <ion-card>
          <ion-card-header>
            Shipping Transaction (Today)
          </ion-card-header>
          <ion-card-content>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Unit</th>
                  <th>Customer</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sdb of shippingtoday">
                  <td>
                    <ion-text>Total</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.jumProduk}}</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.Total}}</ion-text>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
</ion-slide>
<ion-slide>
    <ion-col *ngIf="showProd">
        <ion-card>
          <ion-card-header>
            Shipping Transaction (Week)
          </ion-card-header>
          <ion-card-content>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Unit</th>
                  <th>Customer</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sdb of shippingweekly">
                  <td>
                    <ion-text>Total</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.jumProduk}}</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.Total}}</ion-text>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
</ion-slide>
<ion-slide>
    <ion-col *ngIf="showProd">
        <ion-card>
          <ion-card-header>
            Shipping Transaction (Month)
          </ion-card-header>
          <ion-card-content>
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Unit</th>
                  <th>Customer</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sdb of shippingmonthly">
                  <td>
                    <ion-text>Total</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.jumProduk}}</ion-text>
                  </td>
                  <td>
                    <ion-text>{{sdb.Total}}</ion-text>
                  </td>
                </tr>
              </tbody>
            </table>
          </ion-card-content>
        </ion-card>
      </ion-col>
</ion-slide>
  </ion-slides>
<ion-row>
      <ion-col *ngIf="showSaleOnly">
          <ion-card>
            <ion-card-header>
              Sales Team Ranking
            </ion-card-header>
            <ion-card-content>
              <table>
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Sale(RM)</th>
                    <th>Unit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let name of ranksales">
                    <td>
                      <ion-text>{{name.sales}}</ion-text>
                    </td>
                    <td>
                      <ion-text>{{name.jumlah_bayaran}}</ion-text>
                    </td>
                    <td>
                      <ion-text>{{name.jumProduk}}</ion-text>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
              <ion-card-header>
                Team Ranking
              </ion-card-header>
              <ion-card-content>
                <table>
                  <thead>
                    <tr>
                      <th>Nama</th>
                      <th>Sale(RM)</th>
                      <th>Unit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let name of ranking">
                      <td>
                        <ion-text>{{name.sales_team}}</ion-text>
                      </td>
                      <td>
                        <ion-text>{{name.jumlah_bayaran}}</ion-text>
                      </td>
                      <td>
                        <ion-text>{{name.jumProduk}}</ion-text>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ion-card-content>
            </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>