<ion-header>
<ion-toolbar>
        <ion-menu-button slot="start"></ion-menu-button>
        <ion-title>Pengesahan</ion-title>
</ion-toolbar>
</ion-header>


<ion-content scrollX="true">

        <ion-searchbar placeholder="Search by company" animated="true" (ionChange)="onSearchTerm($event)"></ion-searchbar>
        <ion-button (click)="openCalendar()"><ion-icon name="calendar"></ion-icon> Search by Date </ion-button>
        <ion-button (click)="clearArrayCust()"><ion-icon name="close"></ion-icon>Clear </ion-button>
        

<ion-card color="tertiary" height="40px" >
        <ion-card-subtitle>
                <div class="ion-text-center">
                        Total pending verification
                </div>
                <br>
                <div class="ion-text-center" *ngFor="let ver of unverifys">
                  {{ver.sum}}
                </div>
        </ion-card-subtitle>
</ion-card>
<ion-item>
        <ion-select [interfaceOptions]='{ showBackdrop: false }' interface="popover" placeholder="Select One" (ionChange)="getProduct($event)">
                <ion-select-option *ngFor="let prod of products" [value]="prod.prodName">{{ prod.prodName }}</ion-select-option>
        </ion-select>
        <ion-card *ngFor="let c of count" class=count-card>{{c.sum}}</ion-card>
</ion-item>

<table>
<thead>
<tr>
        <th></th>
        <th>Tarikh Bayaran</th>
        <th>Pelanggan</th>
        <th>Akaun</th>
        <th>Jumlah Bayaran</th>
        <th>Produk</th>
        <th>Person Incharge</th>
        <th>Team</th>
        <th>Lampiran</th>
        <th>Nota</th>
        
</tr>
</thead>
<tbody *ngIf="customers.length > 0; else noItems">
<tr *ngFor="let customer of customers">
        <td>
                <ion-button size="small" color="warning" (click)="updateOrder(customer.order_id,customer.nama_pelanggan,
                                customer.tarikh_order,
                                customer.alamat_pelanggan,
                                customer.nombor_hp,
                                customer.akaun,
                                customer.produk,
                                customer.jumProduk,
                                customer.jumlah_bayaran,
                                customer.nota_tambahan)">
                <ion-icon name="create"></ion-icon>

        </ion-button>
        <ion-button size="small" (click)="verifyAlert(customer.order_id)">
                <ion-icon name="checkbox-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger"
                (click)="deleteOrder(customer.order_id,customer.pengesahan)">
                <ion-icon name="trash"></ion-icon>
        </ion-button>
</td>
<td>
        <ion-text color="danger">{{customer.pengesahan}}</ion-text><br>
        <ion-text>{{customer.tarikh_order}}</ion-text>
</td>
<td>
        <ion-icon name="person"></ion-icon>
        {{customer.nama_pelanggan}}<br>
        <ion-icon name="call"></ion-icon>
        0{{customer.nombor_hp}}<br>
        <ion-icon name="home"></ion-icon>
        {{customer.alamat_pelanggan}}
</td>
<td>
        <ion-text>{{customer.akaun}}</ion-text>
</td>
<td>
        <ion-text>RM {{customer.jumlah_bayaran}}</ion-text>
</td>
<td>
        <p style="font-weight: bold">{{ customer.produk }} - {{ customer.jumProduk }}
        </p>
</td>
<td>
        <ion-text>{{customer.sales}}</ion-text>
</td>
<td>
        <ion-text>{{customer.sales_team}}</ion-text>
</td>

<td>
        <ion-button (click)="openModal(customer.fail_lampiran, server,customer.resit)">Open</ion-button>
        <!-- <ion-button>Download</ion-button> -->
</td>
<td>
        <ion-text>{{customer.nota_tambahan}}</ion-text>
</td>

</tr>
<ng-template #noItems>
<ion-item>
        No items found.
</ion-item>
</ng-template>
</tbody>
</table>
</ion-content>