<ion-header>
        <ion-toolbar>
                <ion-menu-button slot="start"></ion-menu-button>
                <ion-title>Pengesahan</ion-title>
        </ion-toolbar>
</ion-header>


<ion-content scrollX="true">
        <ion-grid>
                <ion-row>
                        <ion-card color="tertiary" height="40px">
                                <ion-card-subtitle>
                                        <div class="ion-text-center">
                                                Belum selesai
                                        </div>
                                        <br>
                                        <div class="ion-text-center" *ngFor="let ver of unverifys">
                                                {{ver.sum}}
                                        </div>
                                </ion-card-subtitle>
                        </ion-card>

                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-button (click)="totalProductModal()" fill="outline">Jumlah Produk</ion-button>
                                <ion-button (click)="openCalendar()" fill="outline">
                                        <ion-icon name="calendar"></ion-icon>
                                </ion-button>
                               
                                <ion-button (click)="downloadCSV()" fill="outline" color="tertiary">CSV
                                        <ion-icon name="download"></ion-icon>
                                </ion-button>
                                <ion-button (click)="clearArrayCust()" fill="outline" color="danger">
                                        <ion-icon name="close"></ion-icon>
                                </ion-button>
                        </ion-col>


                </ion-row>

                <ion-row>
                        <ion-searchbar showCancelButton="always" (ionChange)="updateFilter($event)" placeholder="search by company"></ion-searchbar>
                </ion-row>
        </ion-grid>


       
        
        

        <ngx-datatable [ngClass]="tableStyle" [rows]="loadedcustomers" [columnMode]="'force'"
                [sortType]="'single'" [reorderable]="false" [rowHeight]="'auto'" [headerHeight]="100"
                [footerHeight]="50" [limit]="10" >
                <ngx-datatable-column color="primary"  prop="order_id" name="ID"></ngx-datatable-column>
                <ngx-datatable-column color="primary" name="Tarikh Order" prop="tarikh_order"></ngx-datatable-column>
                <ngx-datatable-column name="Nama Pelanggan" prop="nama_pelanggan"></ngx-datatable-column>
               
                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                          Alamat
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.alamat_pelanggan}} <br>
                            {{row.poskod}} <br>
                            {{row.bandar}} <br>
                            {{row.negeri}} <br>
                            {{row.negara}} <br>

                        </ng-template>
                    </ngx-datatable-column>
              
                <ngx-datatable-column>
                                <ng-template let-column="column" ngx-datatable-header-template>
                                  H/P
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.nombor_hp}} <br> 
                                    <a ion-button href="https://wa.me/{{row.nombor_hp}}"><ion-icon name="logo-whatsapp" style="zoom:1.5;"color="success"></ion-icon></a>
                                    <a ion-button href="tel:{{row.nombor_hp}}"><ion-icon name="call" style="zoom:1.5;" ></ion-icon></a>

                                </ng-template>
                            </ngx-datatable-column>
                
                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                                Akaun
                              </ng-template>
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row.namaakaun}} <br>
                                  {{row.akaun}} <br>
                              </ng-template>

                </ngx-datatable-column>
                <ngx-datatable-column name="Produk" prop="produk"></ngx-datatable-column>
                <ngx-datatable-column name="Jumlah Produk" prop="jumProduk"></ngx-datatable-column>
                <ngx-datatable-column name="Jumlah Bayaran" prop="jumlah_bayaran"></ngx-datatable-column>
                <ngx-datatable-column>
                        <ng-template let-column="column" ngx-datatable-header-template>
                                Sales
                              </ng-template>
                              <ng-template let-row="row" ngx-datatable-cell-template>
                                  {{row.sales}} <br>
                                  {{row.company}} <br>
                              </ng-template>
                </ngx-datatable-column>
              
                <ngx-datatable-column name="Status" prop="pengesahan"></ngx-datatable-column>

                <ngx-datatable-column name="id" [resizeable]="false">
                        <ng-template ngx-datatable-header-template>
                                
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                                <button ion-button small color="light" (click)="deleteOrder(row.order_id)"  tooltip="Delete" placement="left">
                                        <ion-icon name="trash"></ion-icon>
                                </button>
                                <button ion-button small color="light"  tooltip="Edit" placement="top" (click)="updateOrder(row.order_id,row.nama_pelanggan,
                                  row.tarikh_order,
                                  row.alamat_pelanggan,
                                  row.nombor_hp,
                                  row.akaun,
                                  row.produk,
                                  row.jumProduk,
                                  row.jumlah_bayaran,
                                  row.nota_tambahan)">
                                        <ion-icon name="create"></ion-icon>
                                </button>
                                <button ion-button small outline color="light" (click)="verifyAlert(row.order_id)"  tooltip="Sahkan" placement="top"> 
                                        <ion-icon name="checkbox-outline"></ion-icon>
                                </button>
                                <button ion-button small outline color="light"  tooltip="Resit" placement="right"
                                        (click)="openModal(row.fail_lampiran, server,row.resit)">
                                        <ion-icon name="image" ></ion-icon>
                                </button>
                        </ng-template>
                </ngx-datatable-column>
               
        </ngx-datatable>
  

</ion-content>