ion-card{
    display: block;
    flex-direction: column;
    width: 70% !important;
    height: 10% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  table{ 
    width: 100%; 
    border-collapse: collapse; 
    font-size: 10pt;
   }
   tr:nth-of-type(odd) { 
    background: #eee; 
   }
   th { 
    background: #0D6FB1; 
    color: white; 
    font-weight: bold; 
   }
   td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
   }
  

   .count-card{
    background: rgb(65, 37, 220); 
    color: white; 
    width: 40px !important;
     height: 20px !important;
     font-size: 10pt;
     text-align: center;
   }

   ion-searchbar{
     width: 80% !important;
   }

   .notification-button {            
    position: relative;
    width: 42px;
    top:1px;
    right: 1px;
    overflow: visible!important;
}


.notifications-badge {
    position: absolute;
    top: -6px;
    right: -3px;
    border-radius: 50%;
}