<ion-header>
        <ion-toolbar>
                <ion-menu-button slot="start"></ion-menu-button>
                <ion-title>Pengesahan</ion-title>
        </ion-toolbar>
</ion-header>


<ion-content scrollX="true">
        <ion-grid>
                <ion-row>
                        <ion-card color="tertiary" height="40px">
                                <ion-card-subtitle>
                                        <div class="ion-text-center">
                                                Total pending verification
                                        </div>
                                        <br>
                                        <div class="ion-text-center" *ngFor="let ver of unverifys">
                                                {{ver.sum}}
                                        </div>
                                </ion-card-subtitle>
                        </ion-card>

                </ion-row>
                <ion-row>
                        <ion-col>
                                <ion-button (click)="totalProductModal()" fill="outline">Jumlah Produk</ion-button>
                                <ion-button (click)="openCalendar()" fill="outline">
                                        <ion-icon name="calendar"></ion-icon>
                                </ion-button>
                                <ion-button (click)="clearArrayCust()" fill="outline" color="danger">
                                        <ion-icon name="close"></ion-icon>
                                </ion-button>
                        </ion-col>


                </ion-row>

                <ion-row>
                        <ion-searchbar showCancelButton="always" (ionChange)="updateFilter($event)"></ion-searchbar>
                </ion-row>
        </ion-grid>









        <ngx-datatable class="fullscreen" [ngClass]="tableStyle" [rows]="customers" [columnMode]="'force'"
                [sortType]="'multi'" [reorderable]="false" [scrollbarH]="true" [rowHeight]="'auto'" [headerHeight]="100"
                [footerHeight]="50" [limit]="10">
                <ngx-datatable-column name="Tarikh Order" prop="tarikh_order"></ngx-datatable-column>
                <ngx-datatable-column name="Nama Pelanggan" prop="nama_pelanggan"></ngx-datatable-column>
                <ngx-datatable-column name="Alamat Pelanggan" prop="alamat_pelanggan"></ngx-datatable-column>
                <ngx-datatable-column name="Nombor Telefon" prop="nombor_hp"></ngx-datatable-column>
                <ngx-datatable-column name="Akaun" prop="akaun"></ngx-datatable-column>
                <ngx-datatable-column name="Produk" prop="produk"></ngx-datatable-column>
                <ngx-datatable-column name="Jumlah Produk" prop="jumProduk"></ngx-datatable-column>
                <ngx-datatable-column name="Jumlah Bayaran" prop="jumlah_bayaran"></ngx-datatable-column>
                <ngx-datatable-column name="Sales" prop="sales"></ngx-datatable-column>
                <ngx-datatable-column name="Team" prop="company"></ngx-datatable-column>
                <ngx-datatable-column name="Status" prop="pengesahan"></ngx-datatable-column>

                <ngx-datatable-column name="id" [resizeable]="false">
                        <ng-template ngx-datatable-header-template>
                                
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                                <button ion-button small color="light" (click)="deleteOrder(row.order_id)">
                                        <ion-icon name="trash"></ion-icon>
                                </button>
                                <button ion-button small color="light" (click)="updateOrder(row.order_id,row.nama_pelanggan,
                                  row.tarikh_order,
                                  row.alamat_pelanggan,
                                  row.nombor_hp,
                                  row.akaun,
                                  row.produk,
                                  row.jumProduk,
                                  row.jumlah_bayaran,
                                  row.nota_tambahan)">
                                        <ion-icon name="create"></ion-icon>
                                </button>
                                <button ion-button small outline color="light" (click)="verifyAlert(row.order_id)">
                                        <ion-icon name="checkbox-outline"></ion-icon>
                                </button>
                                <button ion-button small outline color="light"
                                        (click)="openModal(row.fail_lampiran, server,row.resit)">
                                        <ion-icon name="image"></ion-icon>
                                </button>
                        </ng-template>
                </ngx-datatable-column>
        </ngx-datatable>


</ion-content>